# 0) Importing Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt

In [86]:
data = pd.read_csv("C:/Users/dhxog/yonsei/dsintro/new_model_pred.csv")
data = pd.DataFrame(data)

In [88]:
data.head()

,Unnamed: 0,artist,name,genre,season,X1,X1_1,rank_g,year,month,...,ndc_t_numb,ndc_t_rec,ndc_t_view,you_rank,조회수,previous_song_rank_g,you_rank_g,season_genre_score,ymd,previous_ranking
0,0,(여자)아이들,LATATA,댄스,summer,16,15,4,18,8,...,0,0,0,13,8730000,10,2,-0.093812,2018-08-12,4.0
1,1,(여자)아이들,LATATA,댄스,summer,5,4,2,18,6,...,0,0,0,100,0,10,10,-0.093812,2018-06-03,2.0
2,2,(여자)아이들,LATATA,댄스,winter,22,21,10,18,12,...,0,0,0,100,0,10,10,0.111253,2018-12-30,10.0
3,3,(여자)아이들,LATATA,댄스,summer,9,8,2,18,7,...,0,0,0,100,0,10,10,-0.093812,2018-07-01,2.0
4,4,(여자)아이들,LATATA,댄스,fall,17,16,8,18,9,...,0,0,0,34,4390000,10,4,-0.020121,2018-09-30,7.0

In [7]:
for col in data.columns:
    print(col)

Unnamed: 0
artist
name
genre
season
X1
X1_1
rank_g
year
month
day
sex
song_type
runtime
active_type
top_freq
gg_score
nv_score
ndc_t_numb
ndc_t_rec
ndc_t_view
you_rank
조회수
previous_song_rank_g
you_rank_g
season_genre_score
ymd
previous_ranking

In [12]:
data = data.drop(["Unnamed: 0","X1", "X1_1", "year", "month", "day", "previous_song_rank_g", "ymd"], axis=1)

In [22]:
data.describe()

,rank_g,runtime,top_freq,gg_score,nv_score,ndc_t_numb,ndc_t_rec,ndc_t_view,you_rank,조회수,season_genre_score,previous_ranking
count,17363.000000,17363.000000,17363.000000,17363.000000,17363.000000,17363.000000,17363.000000,1.736300e+04,17363.000000,1.736300e+04,1.736300e+04,17363.000000
mean,7.284571,224.340379,38.906410,35.679082,18.938772,1763.210966,2655.295398,1.807114e+05,85.580372,1.340415e+06,-6.947726e-17,7.323562
std,3.134700,33.035363,27.893712,23.584427,22.993969,6366.676841,11023.838634,6.487523e+05,28.966289,3.936059e+06,6.036792e-02,3.137485
min,1.000000,26.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000e+00,-3.614124e-01,1.000000
25%,5.000000,201.000000,14.000000,18.000000,2.800000,0.000000,0.000000,0.000000e+00,100.000000,0.000000e+00,-3.748262e-02,5.000000
50%,9.000000,221.000000,35.000000,32.500000,9.000000,0.000000,0.000000,0.000000e+00,100.000000,0.000000e+00,0.000000e+00,9.000000
75%,10.000000,242.000000,59.000000,49.000000,27.900000,16.000000,23.000000,3.620000e+03,100.000000,0.000000e+00,3.266206e-02,10.000000
max,10.000000,364.000000,105.000000,100.000000,100.000000,100092.000000,212290.000000,9.547158e+06,100.000000,9.630000e+07,3.168724e-01,10.000000

In [13]:
for col in data.columns:
    print(col)

artist
name
genre
season
rank_g
sex
song_type
runtime
active_type
top_freq
gg_score
nv_score
ndc_t_numb
ndc_t_rec
ndc_t_view
you_rank
조회수
season_genre_score
previous_ranking

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data.loc[:, ["artist",
"name",
"genre",
"season",
"sex",
"song_type",
"runtime",
"active_type",
"top_freq",
"gg_score",
"nv_score",
"ndc_t_numb",
"ndc_t_rec",
"ndc_t_view",
"you_rank",
"조회수",
"season_genre_score",
"previous_ranking"]], 
                                                    data['rank_g'],
                                                   test_size = 0.3,
                                                   random_state = 26)

In [16]:
X = data.loc[:, ["artist",
"name",
"genre",
"season",
"sex",
"song_type",
"runtime",
"active_type",
"top_freq",
"gg_score",
"nv_score",
"ndc_t_numb",
"ndc_t_rec",
"ndc_t_view",
"you_rank",
"조회수",
"season_genre_score",
"previous_ranking"]]

Y = data['rank_g']

In [62]:
Y = data['rank_g']

In [63]:
Y = Y.replace({'rank_g':'1'}, {'rank_g':"group_1"}).copy()
Y = Y.replace({'rank_g':'2'}, {'rank_g':"group_2"}).copy()
Y = Y.replace({'rank_g':'3'}, {'rank_g':"group_3"}).copy()
Y = Y.replace({'rank_g':'4'}, {'rank_g':"group_4"}).copy()
Y = Y.replace({'rank_g':'5'}, {'rank_g':"group_5"}).copy()
Y = Y.replace({'rank_g':'6'}, {'rank_g':"group_6"}).copy()
Y = Y.replace({'rank_g':'7'}, {'rank_g':"group_7"}).copy()
Y = Y.replace({'rank_g':'8'}, {'rank_g':"group_8"}).copy()
Y = Y.replace({'rank_g':'9'}, {'rank_g':"group_9"}).copy()
Y = Y.replace({'rank_g':'10'}, {'rank_g':"group_10"}).copy()

In [71]:
Y = Y.apply(str)

## 1) Facotr Analyisis 실행

### 1-1) Numeric Data만 사용

In [105]:
numeric_X = data.loc[:, [
"runtime",
"top_freq",
"gg_score",
"nv_score",
"ndc_t_numb",
"ndc_t_rec",
"ndc_t_view",
"you_rank",
"조회수",
"season_genre_score",
"previous_ranking"]]

categorical_X = data.loc[:, [
"genre",
"season",
"sex",
"song_type",
"active_type",
]]

In [25]:
from sklearn.preprocessing import StandardScaler
# Standardization using Standard Scaler
numeric_X_f = StandardScaler().fit_transform(numeric_X)

In [26]:
cov_mat = np.cov(numeric_X_f)
eig_val, eig_vec = np.linalg.eig(cov_mat)

In [33]:
eig_val[eig_val > 1]

array([4064.55232423+0.j, 3078.60363774+0.j, 2411.10556237+0.j,
       1868.10405016+0.j, 1555.39797453+0.j, 1259.17438047+0.j,
       1015.61679042+0.j,  659.76922849+0.j,  448.18193126+0.j,
        116.74861326+0.j])

### 1-2) Eigen Value가 1보다 큰 것 들이 상위 10개이므로 n_factor는 10으로 하여 FA 시행

In [34]:
fa = FactorAnalyzer(n_factors=10, rotation='varimax')

In [36]:
fa_fit = fa.fit(numeric_X_f)
X_fa = fa_fit.transform(numeric_X_f)

### 1-3) 이제 위에서 빼놓은 Categorical Variable들과 합치자

In [106]:
X_fa = pd.DataFrame(X_fa)

FA_X = pd.concat([X_fa, categorical_X], axis=1)

In [107]:
FA_X = FA_X.reset_index()

In [108]:
del FA_X['index']

In [109]:
FA_X = pd.get_dummies(FA_X, columns = ['sex'])
FA_X = pd.get_dummies(FA_X, columns = ['song_type'])
FA_X = pd.get_dummies(FA_X, columns = ['season'])
FA_X = pd.get_dummies(FA_X, columns = ['genre'])
FA_X = pd.get_dummies(FA_X, columns = ['active_type'])

## 2) Random Forest Modeling with k-fold cross validation

In [110]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(FA_X, 
                                                    Y,
                                                   test_size = 0.3,
                                                   random_state = 26)

In [111]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold


stf = StratifiedKFold(n_splits = 10, shuffle = True, random_state = 1)

In [112]:
forest = RandomForestClassifier(n_estimators=500, random_state=26)
score = cross_val_score(forest, X_train, Y_train, cv = stf, scoring = 'f1_micro')

In [113]:
score

array([0.65707237, 0.65213816, 0.65049342, 0.65707237, 0.65102881,
       0.66584362, 0.65102881, 0.66337449, 0.6526749 , 0.6526749 ])

In [114]:
score.mean()

0.6553401830192767

In [115]:
forest.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=26, verbose=0,
                       warm_start=False)

In [116]:
pred_y = forest.predict(X_test)

In [117]:
from sklearn.metrics import precision_score, recall_score, f1_score
print("F1 : %.3f" % f1_score(Y_test, pred_y, average = 'micro'))

F1 : 0.656

## 2) PCA

In [126]:
from sklearn.decomposition import PCA

pca = PCA(n_components = 7)

pca_fit = pca.fit(numeric_X_f)

X_pca = pca_fit.transform(numeric_X_f)

In [127]:
pca.explained_variance_ratio_.sum()

0.8967863786646791

In [132]:
X_pca = pd.DataFrame(X_pca)
PCA_X = pd.concat([X_pca, categorical_X], axis=1)

In [133]:
PCA_X = PCA_X.reset_index()
del PCA_X['index']

In [135]:
PCA_X = pd.get_dummies(PCA_X, columns = ['sex'])
PCA_X = pd.get_dummies(PCA_X, columns = ['song_type'])
PCA_X = pd.get_dummies(PCA_X, columns = ['season'])
PCA_X = pd.get_dummies(PCA_X, columns = ['genre'])
PCA_X = pd.get_dummies(PCA_X, columns = ['active_type'])

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(PCA_X, 
                                                    Y,
                                                   test_size = 0.3,
                                                   random_state = 26)

In [137]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold


stf = StratifiedKFold(n_splits = 10, shuffle = True, random_state = 1)

In [138]:
forest = RandomForestClassifier(n_estimators=500, random_state=26)
score = cross_val_score(forest, X_train, Y_train, cv = stf, scoring = 'f1_micro')

In [139]:
score.mean()

0.6425863656053715

In [140]:
forest.fit(X_train,Y_train)
pred_y = forest.predict(X_test)

In [141]:
print("F1 : %.3f" % f1_score(Y_test, pred_y, average = 'micro'))

F1 : 0.651