In [33]:
from bs4 import BeautifulSoup

import pandas as pd
import urllib
import requests

In [147]:
id = "ohmygirl"
numb = 1000

In [148]:
soup = []
dc = []
date = []
view = []
recmd = []

In [149]:
# 반복 테스트
for i2 in range(numb) :
    base_url = "https://gall.dcinside.com/board/lists"
    
    # 파라미터 설정
    params = {'id': id,'page':i2}
    
    # 헤더 설정
    headers = {'User-Agent' :'*' }
    
    resp = requests.get(BASE_URL, params=params, headers=headers)
    
    soup = BeautifulSoup(resp.content, 'html.parser')
    
    contents = soup.find('tbody').find_all('tr', {"class":"ub-content us-post"})
    
    for i in contents:
        
        #if(i.find("a", {"class":"ub-content us-post"})):
            # 제목 추출
            # title_tag = i.find('a')
            # title = title_tag.text
            # print("제목: ", title)
            
            # 날짜 추출 
            date_tag = i.find('td', class_='gall_date')
            date_dict = date_tag.attrs
            
            if len(date_dict) is 2:
                date.append(date_dict['title'])
            
            else:
                date.append(date_tag.text)
                pass
            
            # 조회 수 추출
            views_tag = i.find('td', class_='gall_count')
            view.append(views_tag.text)
            
            # 추천 수 추출
            recommend_tag = i.find('td', class_='gall_recommend')
            recmd.append(recommend_tag.text)

In [150]:
data_frame = pd.DataFrame(dc)
data_frame['date'] = date
data_frame['views'] = view
data_frame['recommend'] = recmd

In [146]:
data_frame

                    date  views recommend
0    2018-12-03 00:12:16  25797       152
1    2017-10-23 20:30:38  15581       159
2    2020-04-28 21:34:29     32         0
3    2020-04-28 21:33:22     18         0
4    2020-04-28 21:31:46     52         0
..                   ...    ...       ...
243  2020-04-28 18:52:00     31         0
244  2020-04-28 18:50:23     57         1
245  2020-04-28 18:49:24    191         0
246  2020-04-28 18:48:10    183         0
247  2020-04-28 18:47:58     50         0

[248 rows x 3 columns]

In [151]:
data_frame.to_csv('D:/chungpa/google drive/R/desaip/' + id + '.csv')

In [ ]:
# 참고 : https://chicken-nlp.tistory.com/4
# https://m.blog.naver.com/93immm/220913972848
# 건욱형 한거
# 강씨