In [1]:
# 필요한 패키지 부르기
import pandas as pd
import datetime
import re

In [3]:
df = pd.read_csv('basic.csv')

In [4]:
# 필요없는 값 제거
del df['Unnamed: 0']
del df['song_id']

In [5]:
pd.set_option('display.max_columns', 999)

In [19]:
df.head()

,id,name,production,distributor,artist,st_day,wks,ed_day,year,month,day,score,rank,num,runtime,runtime_g,sex,genre,type,gen,genre_g,active_type,active_type_g,gg_score,song_freq,song_freq_g
0,1,사랑에 연습이 있었다면,"엔에스씨컴퍼니, 디원미디어",카카오 M,임재현,2019-06-02,1906_1wk,2019-06-08,19,6,2,44009459,1,1,256,Long,male,가요 / 발라드,K_POP,발라드,Balad_etc,Solo,Solo,53.0,31,High
1,2,누구 없소,YG Entertainment,YG Plus,이하이,2019-06-02,1906_1wk,2019-06-08,19,6,2,43074538,2,1,195,Short,female,가요 / 댄스,K_POP,댄스,Dance_etc,Solo,Solo,100.0,19,High
2,3,2002,Atlantic Records UK,Warner Music,Anne-Marie,2019-06-02,1906_1wk,2019-06-08,19,6,2,41877109,3,1,187,Short,female,POP / 팝,POP,팝,Others,Solo,Solo,48.0,31,High
3,4,너에게 못했던 내 마지막 말은,Stone Music Entertainment,지니뮤직,다비치,2019-06-02,1906_1wk,2019-06-08,19,6,2,38165624,4,1,268,Long,female,가요 / 발라드,K_POP,발라드,Balad_etc,Duet,Non_solo,75.0,31,High
4,5,bad guy,"Darkroom, Interscope Records",Universal Music,Billie Eilish,2019-06-02,1906_1wk,2019-06-08,19,6,2,33544212,5,1,194,Short,female,POP / 락,POP,락,Dance_etc,Solo,Solo,54.0,31,High

In [10]:
# 유튜브 데이터 불러오기
df_youtube = pd.read_csv('youtube.csv' )

In [13]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M
1,20200417-20200423,2위,덤더럼 (Dumhdurum),에이핑크,지난주 #4,2 weeks,30.1%,2.1M
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M
4,20200417-20200423,5위,아로하 (Aloha),Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M

In [14]:
# 시작과 끝을 분리해준다.
week = df_youtube['주간'].str.split('-')

In [65]:
# 원래 데이터와 형태 맞춰주기 위해
# 그리고 유튜브 주기랑 가온차트 주기가 다르다. 
# 5를 빼주면 가온차트와 같아진다. 
start = []
end = []
for i in week:
    start.append(str(datetime.datetime.strptime(i[0],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])
    end.append(str(datetime.datetime.strptime(i[1],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])

In [66]:
# 전처리한 값 추가
df_youtube['start'] = start
df_youtube['end'] = end

In [67]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수,start,end
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M,2020-04-12,2020-04-18
1,20200417-20200423,2위,덤더럼,에이핑크,지난주 #4,2 weeks,30.1%,2.1M,2020-04-12,2020-04-18
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M,2020-04-12,2020-04-18
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M,2020-04-12,2020-04-18
4,20200417-20200423,5위,아로하,Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M,2020-04-12,2020-04-18

In [27]:
# song과 날짜로 합칠거라서 song 전처리 해준다 
# 이유: 이름이 다른 사람들이 존재 ex) 조정석 == Jo Jung-suk
song = []
for i in df_youtube['song']:
    a = re.split('[(-)]+' ,i)[0]
    song.append(a.strip())

In [29]:
df_youtube['song'] = song

In [31]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수,start,end
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M,2020-04-15,2020-04-21
1,20200417-20200423,2위,덤더럼,에이핑크,지난주 #4,2 weeks,30.1%,2.1M,2020-04-15,2020-04-21
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M,2020-04-15,2020-04-21
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M,2020-04-15,2020-04-21
4,20200417-20200423,5위,아로하,Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M,2020-04-15,2020-04-21

In [77]:
# 유튜브에 없는 데이터도 있는 것 확인
df_youtube[df_youtube['song'] == '사랑에 연습이 있었다면']

Empty DataFrame
Columns: [주간, 순위, song, name, lastweek_rank, 지속기간, 변경, 조회수, start, end]
Index: []

In [69]:
# 필요없는 값 제거
df_for_merge = df_youtube.drop(columns = ['주간','lastweek_rank','지속기간','변경','name'])

In [70]:
# 이름 변경
df_you = df_for_merge.rename(columns = {'start':'st_day', 'end':'ed_day','name':'artist','song':'name'})

In [71]:
df_you

,순위,name,조회수,st_day,ed_day
0,1위,WANNABE,2.48M,2020-04-12,2020-04-18
1,2위,덤더럼,2.1M,2020-04-12,2020-04-18
2,3위,돌덩이,1.66M,2020-04-12,2020-04-18
3,4위,시작,1.38M,2020-04-12,2020-04-18
4,5위,아로하,1.32M,2020-04-12,2020-04-18
...,...,...,...,...,...
10395,96위,야생화,166K,2018-04-22,2018-04-28
10396,97위,북,165K,2018-04-22,2018-04-28
10397,98위,DINOSAUR,163K,2018-04-22,2018-04-28
10398,99위,"Not Spring, Love, or Cherry Blossoms",162K,2018-04-22,2018-04-28
10399,100위,스물셋,162K,2018-04-22,2018-04-28

In [130]:
# 유튜브와 합치기
a = pd.merge(df,df_you,on=['st_day','ed_day','name'],how = 'left')

In [131]:
# 필요 없는 값 제거
del a['id']

In [132]:
# NA값 0으로 처리
a['순위'] = a['순위'].fillna(0)
a['조회수'] = a['조회수'].fillna(0)

In [141]:
순위 = []
조회수 = []
# 조회수 전처리
for i in a['조회수']:
    if i == 0:
        조회수.append(0)
    elif i != 0:
        if 'M' in i:
            b = i.replace('M','00000')
            if '.' in b:
                b = b.replace('.','')
            조회수.append(int(b))
        elif 'K' in i:
            b = i.replace('K','0000')
            if '.' in b:
                b = b.replace('.','')
            조회수.append(int(b))

# 순위 전처리
for i in a['순위']:
    if i == 0:
        순위.append(i)
    elif i != 0:
        i = i.replace('위','')
        순위.append(int(i))

In [145]:
a['순위'] = 순위
a['조회수'] = 조회수
a = a.rename(columns = {'순위':'you_rank'})

In [146]:
a.head()

,name,production,distributor,artist,st_day,wks,ed_day,year,month,day,score,rank,num,runtime,runtime_g,sex,genre,type,gen,genre_g,active_type,active_type_g,gg_score,song_freq,song_freq_g,you_rank,조회수
0,사랑에 연습이 있었다면,"엔에스씨컴퍼니, 디원미디어",카카오 M,임재현,2019-06-02,1906_1wk,2019-06-08,19,6,2,44009459,1,1,256,Long,male,가요 / 발라드,K_POP,발라드,Balad_etc,Solo,Solo,53.0,31,High,0,0
1,누구 없소,YG Entertainment,YG Plus,이하이,2019-06-02,1906_1wk,2019-06-08,19,6,2,43074538,2,1,195,Short,female,가요 / 댄스,K_POP,댄스,Dance_etc,Solo,Solo,100.0,19,High,10,9740000
2,2002,Atlantic Records UK,Warner Music,Anne-Marie,2019-06-02,1906_1wk,2019-06-08,19,6,2,41877109,3,1,187,Short,female,POP / 팝,POP,팝,Others,Solo,Solo,48.0,31,High,1,30800000
3,너에게 못했던 내 마지막 말은,Stone Music Entertainment,지니뮤직,다비치,2019-06-02,1906_1wk,2019-06-08,19,6,2,38165624,4,1,268,Long,female,가요 / 발라드,K_POP,발라드,Balad_etc,Duet,Non_solo,75.0,31,High,0,0
4,bad guy,"Darkroom, Interscope Records",Universal Music,Billie Eilish,2019-06-02,1906_1wk,2019-06-08,19,6,2,33544212,5,1,194,Short,female,POP / 락,POP,락,Dance_etc,Solo,Solo,54.0,31,High,3,14500000

In [147]:
a.to_csv('유튜브 합침.csv')